.rainbow {
    animation: rainbow 1000ms;
    animation-iteration-count: infinite;
}

@keyframes rainbow {
    0% {
        color: red;
    } 25% {
        color: orange;
    } 50% {
        color: yellow;
    } 75% {
        color: green;
    } 100% {
        color: blue;
    }
}